.card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: rgb(240, 233, 233);
}

.card > .img-container > img {
    width: 60%
}

.card > .content {
    padding-left: 1;
    padding-right: 1;
    font-size: 15
}